@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';

body{
  background-image: linear-gradient(to right, #30CFD0, #c43ad6);
  background-size: cover;
}

.text-gradient {
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  color: rgba(var(--text-color));
}
.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}
a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 30px;
}

form{
 width: auto;
 height: fit-content;
 font-size: xx-small;
}

.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  justify-content: center;
  position: relative;
}

.w-60 {
  width: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: bolder;
}


a {
  color: #707070;
}
i {
color: white;
}

a {
color: white;
}